.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  color: white;
  background-color: var(--primaryColor);
}

.form {
  display: flex;
  gap: 1rem;
}
